@font-face {
   font-family: 'Master of Comics Personal Use';
   font-display: swap;
   src: url('file:///Users/students/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-04-22_100952/fonts/Master%20of%20Comics%20Personal%20Use/font.ttf');
}
